@{
    ViewBag.Title = "Home Page";
}

    <div class="row">
        <ul>
            Разработать Веб сайт на MVC который позволял (интерфейс любой по умолчанию):

            <li>1)	Просмотр списка пользователей</li>
            <li>2)	Добавление, удаление и редактирование пользователя</li>
            <li>3)	Состав полей пользователя: Ф.И.О., Email, Телефон, Фото</li>
            <li>4)	База данных должна быть проектирована посредством ADO.NET Entity Data Model (Empty EF Designer model). При этом имя реальных таблиц БД и объектов модели данных должны отличаться (пример: таблица БД tbl_table, имя объекта Table)</li>
            <li>5)	Взаимодействие должны осуществляться с использованием LINQ Entity Framework,а также посредством хранимых процедур (по усмотрению выбрать любую операцию)</li>
        </ul>
        <br />
        <ul>
            Дополнительные задания:
            <li>1)	Сервис взаимодействия должен быть построен на базе сервиса WCF</li>
            <li>2)	По возможности (для некоторых операций) организовать взаимодействие с WCF сервисом посредством jQuery</li>
        </ul>

</div>